body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #e2e2e2;
	font-family: Verdana, Arial;
	color: #181818;
}
	
button {float:right;}

.element {
	background-color: #dddddd;
	border-radius: 3px;
	display:inline-block;
	width:198px;
	height:198px;
	border: 1px dotted #bbbbbb;
	position: absolute;
}

.bar {
	border-bottom: 1px dotted #bbbbbb;
	height: 20px;
}

.move, .stop, .color, .remove {
	float: left;
}

.modify {
	float:right;
}

.stop {
	display: none;
}

.color1 { background-color:blue;	}
.color2 { background-color:yellow;	}
.color3 { background-color:red;		}

.post { margin: 3px; }
