body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #e2e2e2;
	font-family: Verdana, Arial;
	color: #181818;
}

/* Titolo e parte per gestire il programma */
.header {
	width:200px;
	height: 100%;
	font-family: Georgia;
	background-color: #df0000;
	color: #e3e3e3;
	margin: 0px;
	padding: 0px;
	position:absolute;
	top:0;
	bottom:0;
}

/* CONTENT e relativi div figli */
.container {
	margin: 5px;
}
.element {
	width: 198px;
	height: 150px;
	margin: auto;
	border:	1px dotted #bbbbbb;
	background-color: #dddddd;
	border-radius: 3px;
	float: left; 
	position: absolute;
}
.element input { 
	float: left;
	margin: 5px;
}
.list {
	margin-left: 5px;
	margin-top: 25px;
}
.date {
	text-align: right;
	font-size: 0.5em;
}
