body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #e2e2e2;
	font-family: Verdana, Arial;
	color: #181818;
}

/* Titolo e parte per gestire il programma */
.header {
	width:200px;
	height: 100%;
	font-family: Georgia;
	background-color: #df0000;
	color: #e3e3e3;
	margin: 0px;
	padding: 0px;
	position:absolute;
	top:0;
	bottom:0;
}
h1{margin:5px;}
textarea{
	margin:5px;
	max-width:180px;
}
button{margin-left:5px;}

/* CONTAINER e relativi div figli */
.container {
	margin-left: 200px;
}
.element {
	margin: 2px;
	position:absolute;
	top:2px;
	width: 198px;
	height: 150px;
	border:	1px dotted #bbbbbb;
	background-color: #dddddd;
	border-radius: 3px;
}
.element input { 
	float: left;
	margin: 5px;
}
.post {
	margin-left: 5px;
	margin-top: 10px;
}
.date {
	text-align: right;
	font-size: 0.5em;
}
